﻿@model Inf_System.Models.NewTestViewModel

@{
    ViewBag.Title = "NewTest";
}

<head>
    <script type="text/javascript">
        function f() {
            var n = 3;
            var url = "http://localhost:60837/Test/NewTest";
            $.ajax({
                type: "POST",
                url: url,
                data: { Field: n },
                beforeSend: function () {
                },
                success: function (msg) {
                    alert(msg);
                    var g = JSON.parse(msg);
                    var div = document.getElementById('list');
                    var ul = document.createElement('ul');
                    div.appendChild(ul);
                    for (var i = 0, ln = g.length; i < ln; i++) {
                        var li = document.createElement('li');
                        li.innerHTML = g[i].Name;
                        ul.appendChild(li);
                    }
                },
                error: function () {
                    alert("no");
                }

            });
        }
    </script>
</head>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Test", "Test", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter not 0.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Field, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Field, new { @class = "form-control" })
        </div>
    </div>
    <div id="list"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick="f()" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}