﻿@model Inf_System.Models.TestViewModel

@{
    ViewBag.Title = "Test";
}

<head>
    <script type="text/javascript">
        function f() {
            var person1 = { name: "Ivan", surname: "Brotan", age: 20 };
            var person2 = { name: "Alexey", surname: "Brotan", age: 23 };
            var person3 = { name: "Bodya", surname: "Brotan", age: 26 };
            var persons = [person2, person1, person3];
            for (var i = 0; i < 3; i++) {
                persons.push(persons[i]);
            }
            var per = { name: "Ivan", surname: "Brotan", age: 20 };
            //var i = persons.indexOf(per);
            //if (i < 0) { console.log("foo"); }
            //else pp = persons[i];
            let pp = persons.find((item) => {return item.name === 'Ivan'})
            console.log("%s %s %s", pp.name, person1.name, persons[1].name);
            var url = "http://localhost:60837/Test/Test";
            $.ajax({
                type: "POST",
                url: url,
                data: { Field1: pp.name, Field2: pp.surname, Field3: pp.age },
                beforeSend: function () {
                },
                success: function (msg) {
                    //alert("Data Saved: " + msg);
                    //document.location.href = "http://localhost:60837/Account/Register";
                },
                error: function () {
                    alert("no");
                }

            });
        }
    </script>
</head>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Test", "Test", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter 2 values.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Field1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Field1, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Field2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Field2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick="f()" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


